<strong>Olá {{ student }}, </strong>
<p>Sua matrícula foi realizada com sucesso, confira os detalhes abaixo:</p>
<p>
  <strong>Plano: </strong> {{ plan }} <br />
  <strong>Data Início: </strong>  {{ startDate }} <br />
  <strong>Data Término: </strong>  {{ endDate }} <br />
  <strong>Valor da mensalidade: </strong>  {{ planPrice }} <br />
  <strong>Valor total: </strong>  {{ payPrice }} <br />
</p>
